{{ template "header.html" .}}

    {{ template "breadcrumbs.html" .}}

    <div class="mb-4">
        <a href="vscode://file/{{ .Path }}/" class="d-inline-block">Open in VSCode</a>
    </div>

    <h3 class="mb-4">{{.Title}}</h3>

    <ul class="list-group">
        {{ range .Items }}
            <li class="list-group-item">
                <div class="d-flex justify-content-between align-items-center">
                    <a href="{{ .Slug }}">{{ .Title }}</a>
                </div>

                <div>
                    <span class="small text-muted">{{ .FileType }}</span>
                </div>
            </li>
        {{ end }}
    </ul>

{{ template "footer.html" .}}
